*.o
src/memorax
src/memorax-gui

*.aux
*.bbl
*.blg
*.log
*.out
*.pdf
*.toc
*/tmp.*

*.in
*Makefile
config.h*
configure
config.status
install-sh
depcomp
missing
autom4te.cache
*/.deps
aclocal.m4
stamp-h1
